// @import "mixin.scss";
.footer {
    height: 300px;
    background: $color-blue;
    display: flex;
    padding: 55px 124px 0;
}

.f-logo {
    width: 109px;
    height: 25px;
    margin-right: auto;
}

.f-item {
    margin-left: 60px;
}

.f-title {
    @include font-1(1.125rem, 500, 19px, $color-white);
    text-decoration: underline;
    margin-top: 0;
}

.links {
    list-style: none;
    padding-left: 0;
}

.link {
    @include font-2(0.875rem, 14px, $color-white);
    text-decoration: none;
}

.subscription {
    @include font-2(1.125rem, 26px, $color-white);
    max-width: 364px;
    margin-left: 79px;
    margin-top: 0;
}

.e-mail {
    height: 48px;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    flex: 1;
    margin-left: 79px;
}

.btn-submit {
    @include font-1(1rem, 700, 17px, $color-blue);
    height: 50px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.retreat {
    margin-top: 20px;
}

.publication {
    @include flex-block-1;
    @include font-1(0.625rem, 700, 11px, $color-white);
}

.icons {
    @include flex-block-1;
    padding-left: 124px;
    padding-right: 124px;
    justify-content: space-between;
    margin-top: 0;
    background: $color-blue;
    height: 57px;
    border-top: 2px solid $color-white;
}